/**
Colors used:
#103A4C
#FECC50
#309085
**/

	
h1{text-align:center;}
h2{text-align:center;}
img       {

width:500px;	
	
}



@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900|Ubuntu:400,700');
div{
background-color:      #309085
	
	
	
	
}

































